---
title: Photos
layout: photos
nav: photos
---

<div class="animate-wrap"> <!-- closes in footer -->

<div class="page-wrap">

<section class="unit page-top">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="wrap-page">
          <div class="row">
            <div class="three columns">
              <div>
                <p>I have a passion for photography and share some of my favorite photos here. I also share some photos on Unsplash.</p>
              </div>
              <div>Unsplash: <a href="http://unsplash.com/namzo" target="_blank">unsplash.com/namzo</a></div>
              <div>VSCO: <a href="http://vsco.co.co/namzo" target="_blank">vsco.co/namzo</a></div>
              <div>Follow me on <a href="http://twitter.com/namzo" target="_blank">Twitter</a></div>
            </div>
            <div class="nine columns">
              <div class="posts-wrap">

                {% for image in site.static_files %}
                    {% if image.path contains 'img/photos' %}
                      <div class="single-photo_wrap">
                        <img src="{{ site.baseurl }}{{ image.path }}?nf_resize=fit" alt="image" />
                      </div>
                    {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
