---
title: Posts
layout: default
nav: posts
redirect_from:
  - /writing
pagination: 
  enabled: true
---

<div class="animate-wrap"> <!-- closes in footer -->

<div class="page-wrap">

<section class="unit page-top">
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one">
        <div class="wrap-page">
          <div class="row">
            <div class="eight columns">
              <div class="posts-wrap">

                {% for post in paginator.posts  %}
                    {% capture url_to_use %}{{ post.url }}{% endcapture %}
                      {% if post.external_url %}
                        {% capture url_to_use %}{{ post.external_url }}{% endcapture %}
                      {% endif %}
                    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
                    

                    {% if forloop.first %}
                    <h6 class="muted">{{this_year}}</h6>
                    {% endif %}

                    <div class="post-row">
                      <h4 class="article-title">
                        <a href="{{ url_to_use }}" 
                          {% if post.external_url %} target="_blank" class="external-link"{% endif %}
                        >
                          {{ post.title }}
                        </a>
                      </h4>
                      <p class="date">{{ post.date | date_to_string }}</p>
                      <div class="excerpt">{{ post.excerpt }}</div>
                    </div>

                    {% if forloop.last %}

                    {% else %}
                        {% if this_year != next_year %}
                        <br>
                        <h6 class="muted">{{next_year}}</h6>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <!-- Pagination -->
                <div class="pagination">
                  {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">
                      &laquo; Previous
                    </a>
                  {% else %}
                    <span class="previous disabled">&laquo; Previous</span>
                  {% endif %}
                  <span class="page_number">
                    {{ paginator.page }} of {{ paginator.total_pages }}
                  </span>
                  {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
                  {% else %}
                    <span class="next disabled">Next &raquo;</span>
                  {% endif %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
