<footer class="unit projects {% if page.nav=='home' %}no-padding-top{% endif %}">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <ul class="list-unstyled">
          <li class="smallcopy"><small>&copy; {{ site.time | date: '%Y' }} Ernest Ojeh &middot; <a href="{{ site.url }}/feed.xml">RSS</a></small></li>
        </ul>
      </div>
      <div class="two columns">
        <ul class="list-unstyled">
          <li><a href="/about">About</a></li>
          <li><a href="/writing">Writing</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="two columns">
        <ul class="list-unstyled">
          <li><a href="http://twitter.com/namzo" target="_blank">Twitter</a></li>
          <li><a href="http://dribbble.com/namzo" target="_blank">Dribbble</a></li>
          <li><a href="http://instagram.com/ernestojeh" target="_blank">Instagram</a></li>
          <li><a href="https://open.spotify.com/user/ernestojeh" target="_blank">Spotify</a></li>
        </ul>
      </div>
      <div class="two columns">
        <ul class="list-unstyled">
          <li><a href="/kongapay">KongaPay</a></li>
          <li><a href="/newthird">NewThird</a></li>
          <li><a href="/insidify">Insidify</a></li>
          <li><a href="/appscreens">Appscreens</a></li>
        </ul>
      </div>
      <div class="two columns">
        <ul class="list-unstyled">
          <li><a href="/3d">Learning 3D</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>