<!DOCTYPE html>
<html lang="en" class="no-js is-animating">

<head>
  <meta charset="utf-8">
  <title>{% if page.nav == "home" %}{{ site.title }}{% elsif page.active == "post" %}{{ page.title }} by {{ site.title }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Ernest Ojeh">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@namzo">
  <meta name="twitter:creator" content="@namzo">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.image %}{{ site.url }}/img/{{ page.image }}{% else %}{{ site.url }}/img/site-icon.png{% endif %}">
  {% if layout.post-external %}
    <meta http-equiv="refresh" content="0;url={{ page.external_url }}">
  {% endif %}
  <!-- Feed -->
  {% feed_meta %}
  <link href='{{ site.url }}/feed.xml' rel='alternate' type='application/atom+xml'>

{% include favicon.html %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130311233-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130311233-1');
</script>
<noscript>
  <link href="{{ site.baseurl }}/css/no-js.css" type="text/css" rel="stylesheet" />
</noscript>
</head>
