<head>
  <meta charset="utf-8">
  <title>{% if page.nav == "home" %}{{ site.title }}{% elsif page.active == "post" %}{{ page.title }} by {{ site.title }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Ernest Ojeh">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@namzo">
  <meta name="twitter:creator" content="@namzo">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.image %}{{ site.url }}/img/{{ page.image }}{% else %}{{ site.url }}/img/site-icon.png{% endif %}">
  
  <!-- Feed -->
  {% feed_meta %}
  <link href='http://ernestojeh.com/feed.xml' rel='alternate' type='application/atom+xml'>

{% include favicon.html %}
</head>
