<nav class="clearfix" id="top">
  <div class="container">
  <div class="row">
    <ul class="pull-left">
      <li>
        <a href="/">
          <strong class="name-text
            {% if page.layout=='photos' %}photo-name-text{% endif %}
          ">
            Ernest Ojeh 
            <!-- {% if page.layout=='photos' %}<span> - Photos</span>{% endif %} -->
          </strong>
        </a>
      </li>
    </ul>
    <ul class="pull-right links">
    {% if page.nav!='home' %}
      <li class="{% if page.nav=='home' %}active{% endif %}">
        <a href="/">Home</a>
      </li>
    {% endif %}
      <li class="{% if page.nav=='about' %}active{% endif %}">
        <a href="/about/">About</a>
      </li>
      <li class="{% if page.nav=='posts' %}active{% endif %}{% if page.layout=='post' %}active{% endif %}">
        <a href="/posts/">Posts</a>
      </li>
      <li class="{% if page.nav=='photos' %}active{% endif %}">
        <a href="/photos/">Photos</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
