<div class="photo-page-info">
  <div>
    <p>I'm a Designer with a passion for photography and share some of my favorite photos here.</p>
    <p>I currently shoot with a Canon EOS M50 Mirrorless Camera.</p>
  </div>
  <div class="link-ext">
    <small>Free-to-use photos on Unsplash:</small>
    <br><a href="http://unsplash.com/namzo" target="_blank">unsplash.com/namzo</a>.
  </div>
  <div class="link-ext">
    <small>VSCO (Personal):</small><br>
    <a href="http://vsco.co/namzo" target="_blank">vsco.co/namzo</a>.
  </div>
  <div><br>You can also follow me on <a href="http://twitter.com/namzo" target="_blank">Twitter</a>.</div>
</div>