<div class="photo-page-info">
    <div>
        <p>I'm a UX Designer living in Amsterdam, with a passion for photography. These are some of my favorite pictures.</p>
    </div>
    <div class="link-ext">
        <h5><small>Free-to-use photos</small></h5>
        <a href="http://unsplash.com/namzo" target="_blank">unsplash.com/namzo</a>
    </div>
    <div class="link-ext">
     <h5><small>Personal photos</small></h5>
        <a href="http://vsco.co/namzo" target="_blank">vsco.co/namzo</a>
    </div>

    <div class="link-ext">
        <h5><small>Gear I use</small></h5>
        <a href="https://kit.co/namzo/my-photography-gear-street-architecture-abstract-mobile-photography" target="_blank">kit.co/namzo</a>
    </div>

    <div class="link-ext no-margin-bottom">
        <small>PS: I don't use Instagram</small>
    </div>
</div>