<div class="work-menu__overlay">
    <section class="unit page-top">
        <span class="work-menu__close">Close</span>
        <div class="container">
            <div class="row">
                <div class="three columns work-title offset-by-one">
                    <h4>Work</h4>
                </div>
                <div class="six columns">
                    <ul class="list-unstyled work-list">
                        <li><a href="/staash">Staash</a></li>
                        <li><a href="javascript:void(0)">Booking.com</a></li>
                        <li><a href="/kongapay">KongaPay</a></li>
                        <li><a href="/appscreens">Appscreens</a></li>
                        <li><a href="/newthird">NewThird</a></li>
                        <li><a href="/insidify">Insidify</a></li>
                        <li><a href="javascript:void(0)">Prowork</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="work-menu__trans-overlay"></div>