$font-path: "../fonts/";

// Light
@font-face {
  font-family: "Graphik Web";
  src: url($font-path + "graphik/Graphik-Light-Web.eot");
  src: url($font-path + "graphik/Graphik-Light-Web.eot?#iefix") format("embedded-opentype"),
     url($font-path + "graphik/Graphik-Light-Web.woff") format("woff"),
     url($font-path + "graphik/Graphik-Light-Web.ttf") format("truetype"),
     url($font-path + "graphik/Graphik-Light-Web.svg#Graphik Web") format("svg");
  font-weight:  200;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url($font-path + "graphik/Graphik-LightItalic-Web.eot");
  src: url($font-path + "graphik/Graphik-LightItalic-Web.eot?#iefix") format("embedded-opentype"),
     url($font-path + "graphik/Graphik-LightItalic-Web.woff") format("woff"),
     url($font-path + "graphik/Graphik-LightItalic-Web.ttf") format("truetype"),
     url($font-path + "graphik/Graphik-LightItalic-Web.svg#Graphik Web") format("svg");
  font-weight:  200;
  font-style:   italic;
  font-stretch: normal;
}

// Regular
@font-face {
  font-family: "Graphik Web";
  src: url($font-path + "graphik/Graphik-Regular-Web.eot");
  src: url($font-path + "graphik/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"),
     url($font-path + "graphik/Graphik-Regular-Web.woff") format("woff"),
     url($font-path + "graphik/Graphik-Regular-Web.ttf") format("truetype"),
     url($font-path + "graphik/Graphik-Regular-Web.svg#Graphik Web") format("svg");
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url($font-path + "graphik/Graphik-RegularItalic-Web.eot");
  src: url($font-path + "graphik/Graphik-RegularItalic-Web.eot?#iefix") format("embedded-opentype"),
     url($font-path + "graphik/Graphik-RegularItalic-Web.woff") format("woff"),
     url($font-path + "graphik/Graphik-RegularItalic-Web.ttf") format("truetype"),
     url($font-path + "graphik/Graphik-RegularItalic-Web.svg#Graphik Web") format("svg");
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

// Semibold
@font-face {
  font-family: "Graphik Web";
  src: url($font-path + "graphik/Graphik-Semibold-Web.eot");
  src: url($font-path + "graphik/Graphik-Semibold-Web.eot?#iefix") format("embedded-opentype"),
     url($font-path + "graphik/Graphik-Semibold-Web.woff") format("woff"),
     url($font-path + "graphik/Graphik-Semibold-Web.ttf") format("truetype"),
     url($font-path + "graphik/Graphik-Semibold-Web.svg#Graphik Web") format("svg");
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url($font-path + "graphik/Graphik-SemiboldItalic-Web.eot");
  src: url($font-path + "graphik/Graphik-SemiboldItalic-Web.eot?#iefix") format("embedded-opentype"),
     url($font-path + "graphik/Graphik-SemiboldItalic-Web.woff") format("woff"),
     url($font-path + "graphik/Graphik-SemiboldItalic-Web.ttf") format("truetype"),
     url($font-path + "graphik/Graphik-SemiboldItalic-Web.svg#Graphik Web") format("svg");
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}
