@font-face {
  font-family: 'eo-adelle';
  src: url('../fonts/adelle/AdelleSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/adelle/AdelleSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/adelle/AdelleSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'eo-adelle';
  src: url('../fonts/adelle/AdelleSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/adelle/AdelleSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/adelle/AdelleSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}