$blue: #1174c3;
$text-color: #465055;
$white: #fff;
$black: #222;
$gray: #CFD8DC;
$light: #eff1f4;
$bg-gray: #f9f9f9;
$orange-text: #f36407;
$tw: #55acee;
$fb: #48649f;
$gplus: #db4437;

$font: "Inter", BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

@mixin rounded-corners {
  $rounded-corner-radius: 4px;
  border-radius: $rounded-corner-radius;
}
@mixin circular {
  $rounded-corner-radius: 50%;
  border-radius: $rounded-corner-radius;
}
*, *:before, *:after {
  box-sizing: inherit;
}
::-webkit-input-placeholder {
  color: #B0BEC5;
}
::-moz-placeholder {
  color: #B0BEC5;
}
:-ms-input-placeholder {
  color: #B0BEC5;
}
:-moz-placeholder {
  color: #B0BEC5;
}
html {
  font-size: 65%;
}
body {
  background: $white;
  height: 100%;
  font-family: $font;
  font-size: 1.7rem;
  line-height: 1.7;
  font-weight: 400;
  z-index: 2;
  color: $text-color;
  padding-top: 50px;
  text-rendering: optimizeLegibility;
}
.preload * {
  transition: none !important;
}
.white-body {
  background: $white;
  nav {
    background: $white;
  }
}
.article-wrap .container {
  max-width: 900px;
}
.serif {
  font-family: Georgia, serif;
}
.posts-wrap {
  padding: 0 0 3em;
}
.post-row {
  padding: 1em 0;
}
a.zoom-image {
  border: none;
  cursor: zoom-in;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  color: $black;
  font-weight: 700;
  letter-spacing: 0;
}
h5 {
  font-size: 1.8rem;
  font-weight: 700;
}
h4 {
  font-size: 2.4rem;
}
a {
  color: $blue;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover {
    text-decoration: underline;
  }
  &:hover, &:focus, a:active {
    transition: ease all .3s;
    color: darken($blue, 5%);
    text-decoration: underline;
  }
}
.hide-name {
  display: none;
}
.wrap-page {
  padding: 1em 0 0;
  h3 {
    padding-bottom: 0.2em;
    margin-bottom: 1.2em;
    &.title-with-text {
      padding-bottom: 0.2em;
      margin-bottom: 0.3em;
    }
  }
  .container {
    padding: 3em 0 8em;
  }
  .button, .button:hover {
    margin-top: -5px;
  }
}
.contact-info {
  padding-top: 26px;
}
a.overclose {
  width: 50px;
  height: 50px;
  display: block;
  border-bottom: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
}
.overclose img {
  width: 100%;
}
.row-flex {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: $blue;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
header {
  background-color: $blue;
  color: $white;
  height: 120px;
  position: relative;
}
header {
  h4, p {
    color: $white;
    text-align: right;
  }
}
p {
  font-size: inherit;
  line-height: 1.8;
  margin-bottom: 10px;
}
li {
  line-height: 30px;
  margin-bottom: 2px;
}
abbr, abbr[title] {
  text-decoration: none;
  border: none;
  cursor: help;
}
.btn, .btn:hover, .btn:focus {
  background: linear-gradient(to bottom, $blue 0%, #0960dc 100%);
  padding: 6px 20px;
  border-radius: 4px;
  color: $white;
  transition: all .15s ease;
  display: inline-block;
  line-height: 28px;
  font-family: $font;
  text-decoration: none;
  border: 1px solid rgba(12, 81, 181, 0.34);
  transition: all 300ms ease;
  &.btn-hollow, &.btn-hollow:hover, &.btn-hollow:focus {
    background: transparent;
    color: $blue;
    border: 1px solid $blue;
  }
  &.btn-hollow:hover {
    color: #0065f5;
    border-color: #0065f5;
    background: transparent;
  }
}
.btn:hover {
  background-color: lighten($blue, 5%);
  border: 1px solid #0c51b5;
}
.btn:active, .btn:focus {
  background: #0c62dc;
}
.jd-wrap {
  padding: 2.4em 0;
  border-left: 1px solid rgba(143, 161, 179, 0.3);
  position: relative;
  background: $white;
  .b1, .b2 {
    transition: ease .3s color;
  }
  &:hover {
    .b1 {
      color: #003580;
    }
    .b2 {
      color: #009fe2;
    }
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    top: 15%;
    left: 0;
    width: 10%;
    height: 70%;
  }
}
.w-right-unit {
  padding: 5px 30px;
  margin: 0 0 10px;
  .jd-title {
    margin-top: -10px;
    strong {
      color: $black;
      margin: 0;
    }
  }
  &.p-jobs .jd-title strong, &.p-jobs small {
    color: #B0BEC5;
  }
}
nav {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 600;
  font-family: $font;
  &.bgnav {
    background: $gray;
    width: auto;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  li {
    margin: 0;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    .icon {
      font-size: 15px;
      padding-left: 3px;
    }
    &.active a {
      color: $black;
    }
  }
  .links li {
    margin-left: 30px;
  }
  li.hide {
    display: none !important;
  }
  a {
    color: #607682;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    border: none;
    font-weight: 400;
    transition: .3s all ease;
    &:hover, &:active {
      border-color: $gray;
      color: $blue;
      border: none;
      text-decoration: none;
    }
    &:active {
      border: none;
      text-decoration: none;
    }
    &:focus {
      color: $text-color;
      text-decoration: none;
      border: none;
    }
    svg {
      fill: $black;
    }
    &.current {
      text-decoration: none;
      color: $blue;
      svg {
        fill: $blue !important;
      }
    }
    img, svg {
      margin: 12px 5px 0 0;
      float: left;
    }
    &.button.hollow {
      border: 1px solid #e8e8e8;
      &:hover, &:hover:hover {
        border-color: #0076ff;
        color: #0076ff;
      }
    }
  }
}
a.menu-btn {
  display: block;
  position: absolute;
  top: 24px;
  right: 0;
  width: 20px;
  height: 14px;
  padding: 10px 0 10px 10px;
  display: none;
  z-index: 999;
}
section {
  padding: 5em 0;
}
.alert {
  text-align: center;
  padding: 3em 0 2em;
  h5 {
    margin-bottom: 0;
  }
}
.item-unit {
  margin-bottom: 2em;
}
.home-body {
  background: $white;
  color: $text-color;
}
.intro {
  padding: 3em 0 6em;
  &.home {
    padding: 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    .two.columns, .one.columns {
      margin-left: 0;
      position: relative;
      z-index: 10;
    }
    .ww {
      -webkit-transform: rotateY(-45deg);
      transform: rotateY(-45deg);
    }
  }
  &.casestudy-header {
    height: auto;
    padding: 0;
    padding-bottom: 0;
    position: relative;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    .intro-profile {
      margin: 2.6em 0 3em;
    }
    &.kongapay {
      background-color: #1c4dd8;
      &+section:before {
        background: #1c4dd8;
      }
    }
    &.newthird {
      background-color: #e24637;
      &+section:before {
        background: #e24637;
      }
    }
    &.appscreens {
      background-color: #311B92;
      &+section:before {
        background: #311B92;
      }
    }
    &.insidify {
      background-color: #0e8bbb;
      &+section:before {
        background: #0e8bbb;
      }
    }
    &:before {
      display: none;
    }
    h1 {
      margin: 0 0 10px;
      font-size: 4rem;
    }
    h1, h2, h3, h4 {
      color: $white;
    }
    a {
      color: $white;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.22);
      &:hover, &:focus {
        border-color: $white;
      }
    }
  }
  &.white {
    background: $white;
    h3, p, a {
      color: $black;
    }
  }
}
.casestudy-body {
  padding-top: 0;
  nav a.button.hollow:hover, nav a.button.hollow:hover:hover {
    color: $white;
    border-color: $white;
  }
  nav {
    position: absolute;
    width: 100%;
    .button.hollow, .button.hollow:hover {
      color: $white;
    }
    svg path {
      fill: $white !important;
    }
    a, strong.name-text {
      color: $white;
    }
    .btn, .btn:hover, .btn:focus {
      background: transparent;
      border-color: $white;
    }
  }
}
.unit.unit-case {
  padding-top: 0;
}
.unit.page-top {
  padding-top: 1em;
}
.home-box {
  padding: 0.5em 0 0;
  position: relative;
  p.lead {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
    font-size: 1.8rem;
    a {
      color: $blue;
      font-weight: 700;
    }
    strong {
      color: #455A64;
    }
  }
}
.intro-profile {
  position: relative;
  z-index: 20;
  h1 {
    position: relative;
    color: $orange-text;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.2;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    span {
      color: lighten($text-color, 25%);
    }
    em {
      font-style: normal;
    }
  }
}

/* external links */
nav a[href*="//"]:not([href*="ernestojeh.com"]), footer a[href*="//"]:not([href*="ernestojeh.com"]) {
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 14px;
    right: -8px;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #b0bec5 transparent transparent;
  }
}

footer a[href*="//"]:not([href*="ernestojeh.com"]) {
  &::after {
    top: -2px;
    right: -8px;
    border-width: 0 6px 6px 0;
  }
}

.foot-site a[href*="//"]:not([href*="ernestojeh.com"]), .smallcopy a[href*="//"]:not([href*="ernestojeh.com"]) {
  &::after {
    display: none;
  }
}

.posts-wrap .article-title a[href*="//"]:not([href*="ernestojeh.com"]) {
    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      position: absolute;
      top: 6px;
      right: -16px;
      border-style: solid;
      border-width: 0 8px 8px 0;
      border-color: transparent #b0bec5 transparent transparent;
    }
}
.list-unstyled {
  list-style-type: none;
}
a.single-project {
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0 40px;
  &:hover, &:focus, &:active {
    text-decoration: none;
    border-bottom: none;
  }
  .proj-info {
    color: $white;
    text-align: center;
    h4, h5 {
      color: $white;
      margin-bottom: 0;
      transform: translateY(10px);
      transition: all .3s ease;
    }
    p {
      margin: 0;
      padding: 0;
      opacity: 0;
      transition: all .3s ease;
      transform: translateY(6px);
    }
  }
  &:hover {
    .proj-info {
      h4, h5 {
        transform: translateY(0);
      }
      p {
        opacity: 0.7;
        transform: translateY(-4px);
      }
    }
  }
  &.kongapay {
    background: #1c4dd8 url("../img/kongapay.jpg") no-repeat top;
    background-size: cover;
  }
  &.insidify {
    background: #0e8bbb url("../img/insidify.jpg") no-repeat top;
    background-size: cover;
  }
  &.newthird {
    background: #e24637 url("../img/newthird.jpg") no-repeat top;
    background-size: cover;
  }
  &.three-dee {
    background: #7432a0 url("../img/3d.jpg") no-repeat top;
    background-size: cover;
  }
  &.kongapay:hover,
  &.insidify:hover,
  &.newthird:hover,
  &.three-dee:hover {
    background-position: center top -5px;
  }
}
.index-proj img {
  border-radius: 4px;
}
.unit {
  padding: 4em 0;
  position: relative;
  &.projects a {
    color: $text-color;
    &:hover, &:focus {
      color: darken($blue, 10%);
    }
  }
  &.no-pad {
    padding-top: 1em;
  }
  &.article-wrap {
    padding: 2em 0;
  }
  h2 {
    margin: 0;
  }
  &.value {
    .container {
      padding-top: 1em;
      padding-bottom: 3em;
    }
    h1, h2 {
      margin-bottom: 20px;
    }
  }
  &.contact {
    .container {
      padding-top: 2.5em;
      padding-bottom: 2.5em;
    }
    hr {
      border-color: #dfe3e8
    }
    h1, h2 {
      margin-bottom: 20px;
    }
  }
}
.ind-projects {
  .article-title {
    margin: 0;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
.superscript {
  vertical-align: super;
}
blockquote {
  position: relative;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  &:before {
    content: " ";
    
    position: absolute;
    width: 4px;
    height: 100%;
    left: -30px;
    top: 0;
    background: #cfd8dc;
  }
  p {
    font-size: 2.4rem;
    padding: 0;
  }
}
.unit-head {
  margin-bottom: 2em;
}
.browser {
  @include rounded-corners;
  background: lighten($black, 70%);
  padding-top: 20px;
  position: relative;
  margin: 1em 0 0;
  box-shadow: 0 10px 30px 3px fade-out($black, .85);
  &:before {
    @include circular;
    content: " ";
    background: lighten($black, 40%);
    height: 8px;
    width: 8px;
    top: 6px;
    left: 10px;
    position: absolute;
  }
  &:after {
    content: " ";
    @include circular;
    background: lighten($black, 40%);
    height: 8px;
    width: 8px;
    top: 6px;
    left: 23px;
    position: absolute;
    box-shadow: 13px 0 0 0 lighten($black, 40%);
  }
  &:hover {
    .browser-title {
      opacity: 1;
    }
  }
  img {
    vertical-align: bottom;
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
}
.m-design {
  background: url(../img/mobile-design1.jpg) right 10em no-repeat;
  background-size: 100% auto;
  min-height: 700px;
  padding-top: 5em;
  padding-bottom: 8em;
  &.follow-up {
    background: url(../img/mobile-design2.jpg) left top no-repeat;
    background-size: 100% auto;
    min-height: 630px;
    margin-top: 0;
    padding-top: 0;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.w-exp {
  li strong {
    color: #222;
  }
  li span {
    padding-left: 20px;
  }
}
.ftname {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
}
.ftmail {
  color: #929db1;
}
.text-center {
  text-align: center;
}
hr {
  border-color: fade-out($black, .8);
  margin: 10px 0;
}
.grid-list {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    float: left;
  }
}
.grid-list {
  &:hover {
    .overlay {
      opacity: 1;
    }
    >a img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
  >a img {
    transition: all 0.3s ease;
  }
}
.show-mobile {
  display: none;
}
.button, .button:hover {
  background-color: $blue;
  border: none;
  color: $white;
  font-family: $font;
  font-size: inherit;
  text-transform: inherit;
  padding: 0 20px;
  margin: 0;
  letter-spacing: inherit;
  font-weight: 400;
  border-radius: 10px;
  &:hover {
    background-color: darken($blue, 3%);
  }
}
.button:focus {
  color: $white;
}
.button.hollow, .button.hollow:hover {
  background: transparent;
  border: 1px solid $blue;
  color: $blue;
  &:hover {
    color: darken($blue, 20%);
    border-color: darken($blue, 20%);
  }
}
.about-left h5 {
  margin-bottom: 0;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.article-title {
  margin: 0.1em 0 0;
  display: table-cell;
  position: relative;
  a {
    text-decoration: none;
    border-bottom: none;
    color: $black;
    &:hover {
      color: $blue;
    }
  }
}
.article-body {
  margin: 1em 0 5em;
  .button {
    margin-top: 15px;
  }
  img {
    display: block;
    margin: 0 auto 30px;
  }
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.full-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
.fullest-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
}
.year-title {
  color: rgba(143, 171, 185, 0.5);
  font-weight: 400;
  text-align: center;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.photo-caption {
  margin: 0 0 2em;
  font-size: 13px;
  color: #71767f;
}
.sub-title {
  margin: 0.5em 0 0.8em;
  font-weight: 400;
}
.date {
  font-size: 1.5rem;
  color: #8399a8;
  margin: 0;
  font-weight: 400;
}
.post-wrap {
  padding: 3em 0;
  .article-title {
    font-weight: 800;
  }
}
.post-body {
  p {
    line-height: 2;
  }
  li {
    margin: 0 0 10px;
  }
}
.intro-avatar {
  img {
    margin: 25px 0 0;
  }
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.working-on {
  border-left: 1px solid #ccc;
  height: 100%;
  padding: 10px;
  h4 {
    margin-bottom: 0;
  }
}
.w-unit {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  margin-top: 15px;
  h4 {
    margin: 0 0 5px;
  }
}
.intro .w-unit p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.5;
}
.muted {
  color: $orange-text;
}
.avatar-img {
  margin: 0 0 15px 0;
  border-radius: 4px;
  transition: ease all 0.3s;
}
.talks {
  padding: 4em 0 2em;
  h5 {
    margin-bottom: 10px;
  }
  li {
    margin: 1em 0 2.4em;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
strong, .strong {
  font-weight: 700;
}
.text-right {
  text-align: right;
}
.pagi {
  margin: 4em 0 10em;
  a {
    display: inline-block;
    padding: 2em;
    border: none;
    background: $white;
    width: 100%;
    font-size: 20px;
    small {
      color: #777;
    }
  }
  .column, .columns {
    margin-left: 0.1%;
    width: 49.9%;
  }
}
time {
  color: #838994;
}
.pull-right {
  float: right;
}
strong.name-text {
  color: $black;
  margin-right: 0;
  position: relative;
  display: inline-block;
  font-family: $font;
  font-weight: 800;
}
.back-link-wrap {
  margin: 0 0 40px;
}
.back-link {
  border: 1px solid rgba(127, 146, 156, 0.51);
  display: block;
  padding: 10px;
  background: $white;
  border-radius: 3px;
  height: 64px;
  margin: 0 20px 0 0;
  svg {
    margin: 14px 2px 0 0;
    fill: $blue !important;
  }
}
.back-link:hover {
  border: 1px solid rgba(127, 146, 156, 0.9);
  svg {
    margin: 14px 2px 0 0;
    fill: rgba(33, 148, 212, 1) !important;
  }
}
.share-box {
  margin: 0 0 6em;
  text-align: center;
  a, a:hover {
    padding: 4px 16px !important;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
  }
  svg {
    fill: $white;
    margin: 6px 8px 0 0;
  }
  a.fb {
    background: $fb;
    &:hover {
      background: darken($fb, 10%);
    }
  }
  a.tw {
    background: $tw;
    &:hover {
      background: darken($tw, 10%);
    }
  }
}
.no-padding {
  padding: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.tw {
  background: $tw;
  text-transform: none !important;
  &:hover {
    background: darken($tw, 10%) !important;
  }
}
.sv a:hover svg g {
  fill: $black !important;
}
.to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  background-color: $white;
  border: 1px solid #bdbdbd;
  color: #222;
  font-style: normal;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
.to-top:hover, .to-top:focus, .to-top:active {
  color: #222;
  border-color: lighten($black, 60%);
}
[disabled], [disabled]:hover {
  cursor: not-allowed;
  color: rgba(140, 155, 170, 0.43);
}
.orange-text {
  color: #ff5c21;
}
.gray-text {
  color: #819AA7;
}
.case-logo {
  margin: 0 0 10px;
}
.like-link {
  font-size: 15px;
  margin: 20px 0 0;
  padding: 0 15px;
  background: $white;
  border: none;
  text-transform: capitalize;
  letter-spacing: normal;
}
button, .button {
  letter-spacing: normal;
}
.like-link i {
  color: #e01f4e;
}
.not-white {
  background: #f6f7f8;
}
.upd {
  background: #F44336;
  font-size: 12px;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 3px 10px 2px;
  border-radius: 12px;
  color: $white;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 0.05rem;
}
.page-title {
  margin-bottom: 0.5em;
}
.app-screenshot {
  img {
    margin-bottom: 40px;
    box-shadow: 0 4px 10px rgba(0, 39, 36, 0.1);
  }
}
.full-vw {
  width: 100vw;
}
ul.social {
  list-style-type: none;
  margin: 0.5em 0 0.6em;
  li {
    display: inline-block;
    margin: 0 20px 0 0;
    svg {
      width: 24px;
      fill: #8a8a8a;
      transition: opacity .3s ease;
    }
    a:hover, a:focus, a:active {
      text-decoration: none;
      border-bottom: none;
    }
  }
  &:hover svg {
    opacity: 0.7;
    transition: opacity .3s ease;
  }
  &:hover svg:hover {
    opacity: 1;
    transition: opacity .3s ease;
  }
}
body.modal-open {
  overflow: hidden;
}
.modal-box-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  .modal {
    color: $text-color;
    position: relative;
    background: $white;
    text-align: center;
    z-index: 999;
    padding: 2em;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 39, 36, 0.36);
    pointer-events: none;
    opacity: 0;
    will-change: transform;
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    transition: all 0.25s cubic-bezier(0.7, 0, 0.3, 1);
    a {
      color: $blue;
      text-decoration: none;
    }
  }
  .modal-background {
    background: rgba(27, 39, 51, 0.95);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
    .modal {
      pointer-events: auto;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      transition-delay: 0.2s;
    }
    .modal-background {
      opacity: 1;
    }
  }
}
.close-modal {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  line-height: 0.96em;
  padding: 0;
  top: 0;
  right: 0;
  color: #8a8a8a;
  border-radius: 0 4px;
  cursor: pointer;
  padding: 0 0 3px;
}
code {
  border: none;
  background: transparent;
  font-size: 80%;
}
.highlight {
  border-radius: 4px;
}
.highlighter-rouge {
   ::-moz-selection {
    background: rgba(0, 0, 0, 0.4);
  }
   ::selection {
    background: rgba(0, 0, 0, 0.4);
  }
}
.unit.page-wrap {
  padding-top: 0;
}
.contact-form {
  padding-top: 0;
  label {
    margin: 0;
    color: $black;
  }
  input, textarea {
    width: 100%;
    background: $white;
    border: 1px solid rgba(60, 93, 109, 0.28);
    padding: 10px 15px;
    height: auto;
    margin: 0;
    box-shadow: 0 1px 1px rgba(84, 110, 122, 0.1) inset;
    transition: all 400ms ease;
    &:focus {
      border: 1px solid $blue;
      box-shadow: 0 1px 1px rgba(84, 110, 122, 0.2) inset, 0 0 3px rgba(0, 105, 255, 0.48);
      background: $white;
    }
  }
  textarea {
    resize: none;
  }
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  height: auto;
  font-size: inherit;
  text-transform: none;
  line-height: 30px;
  padding: 6px 18px !important;
}
.fade-in {
  -webkit-animation: fading ease-in 600ms;
  animation: fading ease-in 600ms;
}
@-webkit-keyframes fading {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes fading {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
.animate-wrap {
    opacity: 0;
}
.chat-wrap {
  padding: 1.2em 0 0;
}
.chat {
  padding: 10px 20px;
  background: $white;
  border-radius: 0 20px 20px;
  clear: both;
  border: 1px solid #8fa1b3;
  margin: 0.6em 0;
  &.pull-right {
    border-radius: 20px 0 20px 20px;
    background: $blue;
    border: none;
    color: $white;
    small {
      color: $white;
    }
  }
  small {
    color: $blue;
  }
}
.share-wrap {
  padding: 0 0 2em;
}
.force-hide {
  display: none !important;
}
.proj-img {
  margin-bottom: 24px;
}
footer {
  color: #78909C;
  font-family: $font;
  li small {
    text-transform: uppercase;
    color: $black;
    font-weight: 700;
  }
  .smallcopy {
    color: #455A64;
    font-weight: 600;
  }
  small {
    font-size: 80%;
    a {
      font-weight: 500;
    }
  }
  ul {
    margin-bottom: 1em;
  }
  a {
    color: #607682;
    position: relative;
  }
  a:hover {
    color: $blue;
    text-decoration: none;
  }
  .row:first-child {
    padding-top: 2em;
    border-top: 1px solid rgba(143, 161, 179, 0.3);
  }
  .foot-site {
    margin-top: 1.5em;
  }
}
.project-desc {
  font-size: 1.8rem;
  margin-top: 1.2em;
  font-weight: 700;
}