@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
@media (min-width: 400px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  nav {
    .container {
      max-width: 1400px;
    }
    a {
      padding: 10px 0;
    }
    .pull-right {
      text-align: right;
      float: right;
    }
  }
  .avatar-img {
    width: 100%;
  }
  .intro.casestudy-header {
    height: auto;
    padding-top: 4em;
  }
  .home-header.white {
    background: #fff0e5 !important;
  }
  .modal-box-wrap .modal {
    width: 600px;
    margin: 0 auto;
  }
  .unit {
    padding: 2em 0;
  }
  .case-device {
    margin-top: -5em;
  }
  .hero {
    height: 600px;
  }
  .home-box {
    padding: 3em 0;
    p.name {
      color: #455A64;
    }
  }
  .home-box p.lead {
    margin-top: 1em;
  }
  .index-proj {
    padding: 0 0 1em;
  }
  .hidden-mobile {
    display: block;
  }
}
@media (max-width: 549px) {
  .row-flex {
    justify-content: space-between;
  }
  .flex-column-1 {
    order: 2;
  }
  .flex-column-2 {
    order: 1;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 60%;
  }
  .intro.casestudy-header+section {
    padding-top: 1.2em;
  }
  .intro.casestudy-header {
    h1 {
      font-size: 2.8rem;
    }
    .intro-profile {
      margin: 3.8em 0 0;
    }
  }
  .project-desc {
    margin-top: 0;
  }
  .intro-profile h1 {
    font-size: 3.2rem;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .avatar-img {
    width: 180px;
  }
  h4 {
    font-size: 2.1rem;
  }
  .modal-box-wrap {
    margin: 0 auto;
    padding: 0;
    .modal {
      width: 100%;
      margin: 15px;
    }
  }
  .index-proj {
    .three.columns {
      width: 20%;
    }
    .two.columns {
      width: 25%;
    }
    .nine.columns {
      width: 75%;
    }
    .ind-projects {
      padding-left: 10px;
      .article-title {
        margin-top: 0;
      }
    }
  }
  nav {
    .container {
      width: 100%;
      margin: 0;
    }
  }
  ul.social {
    list-style-type: none;
    li {
      svg {
        width: 24px;
      }
    }
  }
  .talks {
    padding: 1em 0;
    li {
      margin: 1em 0 1.4em;
    }
  }
  a.overclose {
    top: 5px;
    right: 5px;
  }
  .sites-wrap {
    display: none;
  }
  #aboutOverlay .container {
    padding: 20px 20px 8em;
  }
  .helper, .img-src {
    display: none;
  }
  .dribbble-shots {
    display: none;
  }
  .intro.home {
    height: auto;
    padding: 1em 0;
  }
  nav li {
    margin: 0;
  }
  .unit {
    padding: 3em 0 1em;
  }
  .unit.page-top {
    padding: 0;
  }
  .posts-wrap {
    padding: 1em 0;
  }
  .m-design {
    display: none;
  }
  .intro.casestudy-header {
    height: auto;
    min-height: 0;
    padding-top: 10em;
    padding: 1em 0 0;
  }
  .down-link {
    display: none;
  }
  .intro.home .home-box {
    padding-top: 0;
  }
  .intro.home .lead {
    margin-bottom: 20px;
  }
  .intro.home::before {
    display: none;
    height: 100%;
    top: 100px;
    height: 600px;
  }
  .unit.value .container {
    padding-top: 1em;
    padding-bottom: 2em;
  }
  .unit.recognition .container {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 2em;
  }
  em.tag {
    width: 100%;
  }
  nav {
    padding-bottom: 0;
    .pull-right {
      text-align: left;
      float: right;
    }
    .links li {
      margin-left: 0;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .home-box {
    padding: 1em 0 0;
  }
  .home-box p {
    font-size: 1.8rem;
  }
  .blue-home {
    padding: 2.4em 0 1em;
  }
  .blue-home:before {
    opacity: 0.2;
  }
  .full-container {
    padding: 0 20px;
  }
  .intro.home {
    min-height: auto;
    padding-bottom: 0;
    padding-top: 1.8em;
    .lead {
      margin-bottom: 10px;
    }
  }
  .about {
    padding: 0;
  }
  h2 {
    font-size: 2.8rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2.4rem;
    line-height: 1.6;
  }
  .container {
    max-width: 100%;
  }
  .share-box {
    margin: 0;
  }
  footer {
    padding: 0 0 2em !important;
    li {
      line-height: 1.7;
    }
    &.unit.projects {
      .three.columns {
        width: 100%;
      }
      .two.columns {
        width: 50%;
        margin-left: 0;
      }
    }
  }
  .unit.contact .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  a.single-project {
    height: 0;
    padding: 4em 0;
    margin: 0 0 20px;
    .proj-info {
      h4, h5 {
        transform: translateY(0);
      }
      p {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:hover .proj-info p {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .index-proj {
    padding: 0 0 1em;
  }
  .hidden-mobile {
    display: none;
  }
}