/* Swup animation */

html.is-animating {
  .transition-fade, .transition-fade-down {
    opacity: 0;
  }
  .transition-fade-down {
    transform: translateY(-20px);
  }
  nav li.active a:after {
    width: 0;
  }
  .avatar-img {
    opacity: 0;
  }
}
html.is-rendering {
  nav li.active a:after {
    width: 0;
  }
  .about-photos_link {
    transform: translateY(10px);
    opacity: 0;
  }
}
.transition-fade {
  transition: 100ms;
  opacity: 1;
}

.transition-fade-down {
  transition: 400ms;
  transform: translateY(0);
  opacity: 1;
}

@for $i from 1 through 4 {
  .links li:nth-child(#{$i}) {
    transition-delay:(#{$i*120ms}); 
  }
}
