{% include head.html %}

<body class="photos-body">

{% include nav.html %}

<div class="animate-wrap"> <!-- closes in footer -->

  <div class="page-wrap">

    <section class="unit page-top">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            
          {% if page.focal-length %}
            <div class="photo-info row">
              <!-- <div class="two columns">
                <h6>Camera</h5>
                <p class="fcamera-type">{{ page.camera-type }}</p>
              </div> -->
              <div class="two columns">
                <h6>Focal Length</h5>
                <p class="focal-length">{{ page.focal-length }}</p>
              </div>
              <div class="two columns">
                <h6>Aperture</h5>
                <p class="aperture">{{ page.aperture }}</p>
              </div>
              <div class="two columns">
                <h6>Shutter speed</h5>
                <p class="shutter-speed">{{ page.shutter-speed }}</p>
              </div>
              <div class="two columns">
                <h6>ISO</h5>
                <p class="iso">{{ page.iso }}</p>
              </div>
            </div>
          {% endif %}

          <div class="photo-page-single-wrap">

            {% for item in page.filename %}
            <div class="single-photo_wrap">
              <div class="image-wrapper">
                <img 
                
                  data-src="{{ site.baseurl }}/photos/{{ item }}?nf_resize=fit&w=2400"

                  data-srcset="{{ site.baseurl }}/photos/{{ item }}?nf_resize=fit&w=800 800w,
                        {{ site.baseurl }}/photos/{{ item }}?nf_resize=fit&w=1200 1200w,
                        {{ site.baseurl }}/photos/{{ item }}?nf_resize=fit&w=2400 2400w"
                  
                  data-sizes="(max-width: 480px) 800px,
                        (max-width: 767px) 1200px,
                        (min-width: 768px) 2400px"
                  
                  loading="lazy"

                  alt="{{ page.title }}">
              </div>
            </div>
            {% endfor %}


            <div class="sub-photo-title">
              <h5>{{ page.title }}</h5>
            </div>
          </div> <!-- /photo-page-single-wrap -->

          </div>
        </div>
      </section>
    </section>

  </div>

{% include footer.html %}
